* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #003b5c;
    color: white;
    padding: 20px;
}

.logo h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.2;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu ul li.active a {
    background-color: #1e6076;
    padding: 10px 15px;
    border-radius: 8px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
    font-weight: normal;
}

.user-info {
    text-align: right;
}

.user-info p {
    font-size: 1.2em;
}

.user-info span {
    display: block;
    font-size: 0.9em;
    color: gray;
}